In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#statistical operation library 
import scipy
from scipy import stats as st

In [3]:
df=pd.read_csv("tips.csv")

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
st.hmean(df['total_bill'])

16.308962208450225

In [7]:
df['total_bill'].mean()

19.78594262295082

## Frequency and probality table

In [9]:
#rename the column name
df.rename(columns={'sex':'Gender'}, inplace = True)

In [10]:
#frequency table for Gender Columns
df['Gender'].value_counts()

Gender
Male      157
Female     87
Name: count, dtype: int64

In [11]:
# probability table
df['Gender'].value_counts()/len(df['Gender'])

Gender
Male      0.643443
Female    0.356557
Name: count, dtype: float64

In [14]:
# probability percentile table
(df['Gender'].value_counts()/df['Gender'].shape)*100

Gender
Male      64.344262
Female    35.655738
Name: count, dtype: float64

In [16]:
# probability percentile table
df['Gender'].value_counts(normalize=True)*100

Gender
Male      64.344262
Female    35.655738
Name: proportion, dtype: float64

In [17]:
#joint and conditional probality table
pd.crosstab(df['Gender'],df['smoker'])

smoker  No  Yes
Gender
Female  54   33
Male    97   60

In [19]:
# find the probality that male having smoking problem using joint and conditional probality table
((pd.crosstab(df['Gender'],df['smoker']))/len(df))*100

smoker         No        Yes
Gender
Female  22.131148  13.524590
Male    39.754098  24.590164

Discrete Distribution